
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');
html{
    font-family: 'roboto';
}









.header{
    background-image: url(images/image2.png);
    background-size: cover;
    padding-bottom: 10%;
}

nav{
    float: right;
   font-weight: bolder;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.411);
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 20px;
   
    
}
nav ul li a{
    color:white;
    text-decoration: none;
}
nav ul li a:hover{
    color: #F19201;
}

h4{
    color: #F19201;
    display: inline-block;
    font-size: 1.4rem;
}



.head{
    padding: -100px;
    margin: auto;
    margin: top -150px;;
    
}
.head::after{
    content: '';
    display: table;
    clear: both;
    box-sizing: border-box;
}
.logo{
    float: left;
    color: #F19201;
    padding-left: 50px;
    font-size: 20px;
    
}

nav ul li button{
    font-size: 20px;
    background-color:#F19201 ;
    border: none; 
    padding: 15px 20px;
    text-align: center;
    margin-bottom: 5%;
    
}

.intro{
    color: white;
    line-height: 3rem;
    margin-top: 6%;
    margin-left: 4%;
    font-size: 2rem;
    
}

#buttn{
    font-size: 20px;
    margin-left: 4%;
    background-color: #F19201;
    border:none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    margin-top: 7%;
   
}




.services{
    background-color: rgb(218, 212, 212) ;
    padding: 10px 40px;
    
}

.service{
    text-align: center;
}

.service h2{
    color:#f19201;

}
.options{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    padding: 50px ;
    align-content: center;
    margin: 0px 6px;
}

#one{

    border-radius: 50%;
    padding: 15px 20px;
    border: none;
    background-color: #F19201;
    color: white;

}

#wan{

    border: unset;
    text-align: center;
    background-color: white;
    padding: 50px;
}

#tu{
    border: unset;
    text-align: center;
    background-color: white;
    padding: 50px;

}

#thrii{
    border: unset;
    text-align: center;
    background-color: white;
    padding: 50px;
}
.reviews{
    padding: 10px 40px;
    background-color: black;
    display: flex;
}
.org{
    float: right;
    width: 40%;
    font-size: 2.0rem;
    text-align: center;
    padding-left: 20px;
    color: white;
}



.italic{
    font-style: italic;
    line-height: 30px;
    font-size: 30px;
    padding: 50px;
}

.anda{
    text-decoration-line: underline;
    text-underline-offset: centre ;
}



.options{
    padding: 10px 40px;
    background-color: rgb(218, 212, 212);
    display: flex;
    flex-direction: row;
}

.menu{
    padding: 0;
}

.menu .menyu{
    text-align: center;
    padding: 50px;
    font-size: 30px;
    font-style: italic;
    margin: 0px 180px;
}

.menu .option1{
    display: flex;
    justify-content: space-evenly;
    font-size: 25px ;
    width: 50%;
    flex-direction: row;
    
}

.menu .option2{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: 25px;
    margin-left: 9%;
}

.menu .option1 #chapati{
    display: flex;
    text-align: center;
    padding: 25px 50px ;
}

.menu .option1 #beefstew{
    display: flex;
    text-align: center;
    padding: 25px ;
}

.menu .option2 #chickenstew{
    display: flex;
    text-align: center;
    padding: 25px ;
}

.menu .option2 #rais{
    display: flex;
    text-align: center;
    padding: 25px ;
}

.menu .option1 img{
    padding: 35px 10px;
    background-color: white;

}

.menu .option2 img{
    padding: 35px;
    background-color: white;
}

.menu p{
    font-style: italic;
}

.menu h2{
color: #F19201;

}

.menu button{
    background-color: rgb(187, 179, 179);
    padding: 12px 20px;
    border: none;
}

.menu h6{
    color: #F19201;
}
.foot{
    padding: 10px 40px;
    background-image: url(images/image8.png);
    color: white;
    text-align: center;
    background-size: cover;
    background-position: center;
    display: flex;
    height: 63vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.foot button{
    padding:  20px 40px ;
    background-color: rgb(196, 186, 186);
    font-size: 20px;
    border: none;
    color: white;
}

.foot p{
    font-style: italic;
    padding-top: 50px;

}

.foot h2{
    color: white;
}

.foot button:hover{
    color: #F19201;
}
